.card-product{
	display: block;
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none !important;
	text-align: center;
	padding: 0 10px;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	position: relative;
	&__discount{
		color: #fff;
		padding: 5px 2px;
		font-size: 0.85rem;
		font-weight: 300;
		line-height: 1;
		text-align: left;
		position: absolute;
		left: 0;
		top: 0;
		width: 65px;
		height: 85px;
		background-image: url($imgs + 'home/product-discount.png');
		background-repeat: no-repeat;
		z-index: 9;
		p{
			margin-bottom: 3px;
		}
		strong{
			font-weight: 400;
			font-size: 210%;
		}
	}
	&__img{
		height: 225px;
		display: flex;
		align-items: flex-end;
		img{
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__caption{
		padding-top: 25px;
	}
	&__title{
		font-weight: 400;
		font-size: 1.2rem;
	}
	&__price{
		font-size: 1.3rem;
		font-weight: 500;
		margin-bottom: 10px;
		del{
			opacity: 0.8;
		}
		span{
			margin: 0 5px;
		}
	}
}
