// ==== CONFIGURATION ==== //

// Set all your configuration variables here!
$theme-name:               "<%= pretty_name %>";
$theme-uri:                "<%= uri %>";
$theme-author:             "Altimea S.A.C.";
$theme-author-uri:         "http://altimea.com";
$theme-description:        "<%= description %>";
$theme-version:            "1.0.0";
$theme-text-domain:        "<%= name %>-theme";
$theme-text-domain-path:   "/languages/";

// Images path use css
// ------------------------------------------------
$imgs: './img/cssimgs/';

// Define colors
// ------------------------------------------------
$brand-primary: #330066;
$brand-primary-light: #77298f;
$brand-second: #000;
$body-color: #000;

$btn-dark: #595959;

// Fonts
// ------------------------------------------------
$font-path: './fonts/';

$font-size-base: 1rem !default;
$font-size-lg:   1rem;
$font-family-base: 'Open Sans', sans-serif;
// fonts
$open-sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$lato-local: 'Lato-local', sans-serif;
$polaris: 'polaris', sans-serif;
$lbel-script: 'lbel_script', sans-serif;

$line-height-base: 1.4;

// Headings
$font-size-h1: 2.3rem !default;
// $font-size-h2: 2rem !default;
// $font-size-h3: 1.75rem !default;
// $font-size-h4: 1.5rem !default;
// $font-size-h5: 1.25rem !default;
// $font-size-h6: 1rem !default;

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px
// ) !default;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// ) !default;

$container-max-widths: (
  sm: 1008px,
  md: 1009px,
  lg: 1010px,
  xl: 1230px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1042px,
  xl: 1290px
);

// Radius
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Btns
$btn-padding-x: 1.7rem;
$btn-padding-y: 0.65rem;
$btn-padding-x-sm: 1rem !default;
$btn-padding-y-sm: .4rem !default;
$btn-padding-x-lg: 1.8rem !default;
$btn-padding-y-lg: 0.9rem !default;
$btn-secondary-color: #fff;
$btn-secondary-bg: $brand-second;
$btn-secondary-border: $brand-second;

// Inputs
$input-height:  1;

// Breadcrumbs
$breadcrumb-padding-x: 2px;
$breadcrumb-bg: transparent;
$breadcrumb-divider: "\203A";


// Customize vars plugins

$slick-font-path: "./fonts/slick/";
$slick-loader-path: "./img/slick/";
