// ==== CONFIGURATION ==== //

// Set all your configuration variables here!
$theme-name:               "<%= pretty_name %>";
$theme-uri:                "<%= uri %>";
$theme-author:             "Altimea S.A.C.";
$theme-author-uri:         "http://altimea.com";
$theme-description:        "<%= description %>";
$theme-version:            "1.0.0";
$theme-text-domain:        "<%= name %>-theme";
$theme-text-domain-path:   "/languages/";

// Images path use css
// ------------------------------------------------
$imgs: './img/cssimgs/';
$font-path: './fonts/';
$breadcrumb-divider: "\203A";
