
.our-shops-country{
	&__title{
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
		color: $brand-primary-light;
		margin-top: 10px;
		margin-bottom: 1rem;
	}
	&__info{
		font-size: 12px;
		line-height: 1.6;
		font-weight: 300;
		margin-bottom: 1rem;
		address{
			margin-bottom: 0;
		}
		b,strong{
			font-weight: bold;
		}
	}
}