.terms-conditions-body{
	font-size: 0.85rem;
	font-weight: 300;
	p{
		font-size: 95%;
	}
	&__block{
		margin-bottom: 2.5rem;
	}
	&__title{
		font-weight: 600;
		font-size: inherit;
		margin-bottom: 1.5rem;
	}
}