$nav-top-h: 45px;

@mixin header-hybris {

.header-page{
	user-select: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
	@include minw(md){
		&.scrolling{
			.nav-menu{
				height: 52px;
				padding: 0;
			}
		}
	}
}

.toggle-menu-mobile{
	position: fixed;
	top: 0;
	left: 0px;
	z-index: 999;
	button{
		height: 40px;
		cursor: pointer;
	}
	span{
		position: relative;
		width: 1.4em;
		height: 1.1em;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		&:after{
			content: "";
			position: absolute;
			width: 100%;
			left: 0;
			top: 43%;
			height: 2px;
			background: #fff;
		}
	}
	@include maxw(md){
		button{
			height: $nav-top-h;
		}
	}
}

.toggle-search-mobile{
	text-align: center;
	color: #fff;
	font-size: 27px;
	line-height: 1.5;
	cursor: pointer;
	position: fixed;
	top: 5px;
	right: 45px;
	height: 35px;
	width: 35px;
	z-index: 101;
}

.nav-top{
	background: #222;
	color: #fff;
	height: 40px;
	position: relative;
	z-index: 99;
	@include maxw(md){
		height: $nav-top-h;
		box-shadow: 0 2px 2px rgba(#000, 0.2);
	}
}

.nav-top__brands{
	float: left;
	a{
		display: inline-block;
		padding: 9px 10px;
		position: relative;
		text-indent: -9999px;
		color: #fff;
		text-decoration: none;
		background-repeat: no-repeat;
		background-position: center center;
		&:first-child{
			margin-left: -10px;
		}
		&:not(:last-child):after{
			content:"";
			position: absolute;
			right: -1px;
			top: 50%;
			transform: translateY(-50%);
			height: 17px;
			border-right: 1px solid #888;
		}
		&:not(.active){
			opacity: 0.6;
			&:after{
				border-right: 1px solid #ccc;
			}
		}
		&.brand-esika{
			width: 62px;
			background-image: url($imgs + "brands/esika-white.svg");
			background-size: 42px 18px;
		}
		&.brand-lbel{
			width: 66px;
			background-image: url($imgs + "brands/lbel-white.svg");
			background-size: 47px 10px
		}
		&.brand-cyzone{
			width: 77px;
			background-image: url($imgs + "brands/cyzone-white.svg");
			background-size: 62px 15px;
			background-position: center 61%;
		}
	}
	@include maxw(md){
		margin-left: 32px;
		a{
			padding: 12px 10px;
			margin-left: -9px;
			&:after{
				display: none;
			}
		}
	}
}

.nav-top__right{
	float: right;
	&-decor{
		&:after{
			content:"";
			position: absolute;
			right: -1px;
			top: 50%;
			transform: translateY(-50%);
			height: 20px;
			border-right: 1px solid #8e8e8d;
		}
	}
	> a{
		font-size: 11px;
		font-family: $lato;
		float: left;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 40px;
		padding: 0 15px;
		position: relative;
	}
	@include maxw(md){
		margin-right: -9px;
	}
}

.nav-top__icons{
	display: inline-block;
	margin-left: 10px;
	&-item{
		color: inherit !important;
		cursor: pointer;
		display: inline-block;
		padding: 9px 8px;
		&:hover{
			color: inherit;
		}
		&:last-child{
			padding-right: 0;
		}
		>i{
			font-size: 20px;
		}
	}
	&-cart{
		> span{
			display: inline-block;
			font-size: 12px;
			text-align: center;
			line-height: 24px;
			width: 24px;
			height: 24px;
			margin-left: 10px;
			border-radius: 50%;
			background-color: #fff;
			color: #000;
			position: relative;
			top: -4px;
			letter-spacing: 0;
		}
		// md to xs
		@include maxw(md){
			padding: 6px;
			>span{
				top: -2px;
				width: 38px;
				height: 35px;
				line-height: 42px;
				margin-left: 0;
				border-radius: 0;
				color: #fff;
				background-color: transparent;
				background-image: url($imgs + "svg-icons/shopping-bag-bold.svg");
				background-position: center center;
			}
		}
	}
	&-user{
		.dropdown-hover__area{
			right: -65px;
		}
	}
}

.dropdown-hover{
	position: relative;
	@include minw(md){
		&:hover{
			.dropdown-hover__area{
				display: block;
			}
		}
	}
}

.dropdown-hover__area{
	color: #000;
	padding: 15px 30px;
	min-width: 295px;
	max-width: 320px;
	background: #fff;
	position: absolute;
	right: 0;
	top: 100%;
	box-shadow: 0 3px 5px rgba(#000, 0.4);
	display: none;
	&.open{
		display: block;
	}
}

.dropdown-cart-list{
	padding: 0 30px;
	margin: 0 -30px;
	max-height: 50vh;
	overflow-x: hidden;
	li{
		list-style: none;
		padding: 10px 0;
		border-bottom: 1px solid #e5e5e5;
		&:last-child{
			border: 0;
		}
		&:hover{
			background: #f0f0f0;
		}
		a{
			display: flex;
			align-content: stretch;
			text-decoration: none;
		}
	}
	&__image{
		padding: 5px;
		width: 70px;
		height: 80px;
	}
	&__data{
		flex-grow: 1;
		padding: 5px;
	}
	&__name{
		font-weight: 700;
		font-size: 13px;
		margin-bottom: 10px;
	}
	&__info{
		font-size: 12px;
	}
}

.dropdown-cart-total{
	padding-top: 15px;
	font-size: 18px;
	border-top: 1px solid #e5e5e5;
	span{
		font-size: 14px;
		position: relative;
		top: 4px;
	}
}

.dropdown-profile{
	text-align: center;
	&__user{
		margin-top: 5px;
		display: block;
		text-decoration: none;
		&-name{
			font-size: 18px;
			font-weight: 600;
			margin-top: 15px;
		}
	}
	&__menus{
		margin-top: 15px;
		font-family: $lato;
		a{
			display: block;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
			padding: 10px 0;
		}
	}
}

.menu-dropdown-full{
	background: #fff;
	position: absolute;
	top: 100%;
	left: -30%;
	right: -30%;
	z-index: 2;
	padding: 40px 15px 20px;
	box-shadow: 0 3px 5px rgba(#000, 0.3);
	display: none;
	>li{
		list-style: none;
		display: inline-block;
		vertical-align: top;
		max-width: 130px;
		>a{
			display: block;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0.5px;
			img{
				width: 100%;
			}
			.mdf-title-category{
				display: block;
			}
		}
		&.mdf-banner{
			max-width: 222px;
			margin-left: 5px;
			padding-left: 30px;
			padding-bottom: 30px;
			border-left: 1px solid #ccc;
		}
	}
}

.menu-primary{
	margin: 0;
	padding: 0;
	margin-top: 2px;
	// padding-left: 40px;
	// padding-right: 140px;
	padding-left: 95px;
	padding-right: 155px;
	font-family: $lato-local;
	font-size: 12px;
	text-align: center;
	position: absolute;
	left: 0px;
	right: 0px;
	>li{
		list-style: none;
		text-align: center;
		display: inline-block;
		margin-right: -4px;
		>a{
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			padding: 16px 7px;
			position: relative;
			color: transparent;
			&:after{
				color: #000;
				content: attr(title);
				position: absolute;
				left: 0px;
				right: 0px;
			}
			&:before{
				content: "";
				position: absolute;
				left: 7px;
				right: 7px;
				bottom: 0;
				height: 3px;
				background: #000;
				display: none;
			}
			&:hover{
				&:before{
					display: block;
				}
				&:after{
					font-weight: bold;
				}
			}
		}
		&:hover{
			.menu-dropdown-full{
				display: block;
			}
		}
		&.menu-brand-offerts{
			a{
				width: 98px;
				font-weight: 600;
				background-image: url($imgs + "header/oferts.png");
				background-size: 80px 33px;
				background-position: 60% 47%;
				background-repeat: no-repeat;
				&:before{
					opacity: 0;
				}
				&:after{
					color: #fff;
				}
			}
		}
	}
}

.input-search{
	position: relative;
	width: 200px;
	height: 40px;
	font-size: 12px;
	input{
		color: #000;
		font-size: 12px;
		font-family: $open-sans;
		border: 2px solid #000;
		width: 70%;
		height: 40px;
		font-weight: 100;
		transition: all 0.3s;
		float: right;
		&:focus{
			border-color: #000;
			width: 100%;
		}
	}
	button{
		cursor: pointer;
		background: none;
		border: 0;
		position: absolute;
		right: 0;
		top: 0;
		height: 40px;
		width: 40px;
		z-index: 2;
		i{
			color: #000;
			font-size: 27px;
			line-height: 1.5;
		}
		&:hover{
			opacity: 0.5;
		}
		&:focus{
			outline: none;
		}
	}
	@include maxw(md){
		width: 100%;
		background: #222;
		input{
			width: 100%;
			border: 2px solid #222;
			color: #fff;
			background-color: transparent;
			&:focus{
				color: #fff;
				border: 2px solid #222;
				background-color: transparent;
			}
		}
		button{
			color: #ec7205;
			text-indent: 0;
			width: auto;
			background: none;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

}

.nav-menu{
	height: 75px;
	padding: 10px 0;
	background: #fff;
	border-bottom: 1px solid #ccc;
	position: relative;
	transition: all 0.2s;
	.container{
		height: 100%;
	}
	&__brand{
		position: absolute;
		left: 15px;
		top: 45%;
		transform: translateY(-50%);
		z-index: 9;
		a{
			line-height: 3.5;
			display: inline-block;
		}
	}
	&__search{
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 11;
	}
	@include maxw(md){
		height: auto;
		padding: 0;
		border-bottom: 0;
		&__search{
			position: fixed;
			top: $nav-top-h;
			right: 0;
			left: 0;
			z-index: 9;
			transform: translateY(0);
			display: none;
			&.open{
				display: block;
			}
		}
	}
}

.menu-collapse-mobile{
	padding-left: 15px;
	padding-right: 15px;
	background: #151515;
	color: #fff;
	position: fixed;
	top: $nav-top-h;
	left: 0;
	right: 0;
	bottom: 40px;
	overflow-x: hidden;
	display: none;
	&.open{
		display: block;
	}
}

.menu-primary-mobile{
	padding: 0;
	margin-left: -15px;
	margin-right: -15px;
	background: #fff;
	ul{
		padding: 0;
	}
	li{
		list-style: none;
		> a{
			text-decoration: none;
			text-transform: uppercase;
			display: block;
			padding: 15px;
			border-bottom: 1px solid #ccc;
			position: relative;
			font-weight: 600;
			&:after{
				content: "\203A";
				font-size: 25px;
				position: absolute;
				right: 18px;
				top: 45%;
				transform: translateY(-50%);
			}
		}
	}
	ul{
		background-color: #ebedf0;
		display: none;
		>li{
			>a{
				padding-left: 20px;
				font-weight: 400;
			}
			>ul{
				background: #fff;
				>li{
					>a{
						text-transform: none;
						padding-left: 30px;
					}
				}
			}
		}
	}
	.menu-item-plus{
		>a{
			position: relative;
			&:after{
				content: "+";
				right: 15px;
				top: 47%;
			}
			&.open{
				&:after{
					content: "\2013";
				}
			}
		}
	}
}

.menu-list-payment{
	padding: 0;
	margin-left: -10px;
	font-size: 12px;
	li{
		list-style: none;
		padding: 5px 0 5px 55px;
		height: 64px;
		line-height: 54px;
		position: relative;
		background-size: 54px;
		background-repeat: no-repeat;
		background-position: left center;
		i{
			width: 54px;
			text-align: center;
			font-size: 42px;
			line-height: 1;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-55%);
		}
	}
}

.menu-mobile-cards{
	font-size: 13px;
	text-align: center;
	padding: 20px 15px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 15px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.btns-auth-mobile{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	.btn{
		text-transform: uppercase;
		background: #433f3f;
		color: #fff;	
		width: 50%;
		height: 40px;
		line-height: 1.4;
		float: left;
		&:first-child{
			border-right: 1px solid #fff;
		}
	}
}

}