/**
 * Global styles used accross sections
 */

::selection {
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}

*{
	outline: none !important;
}
html{
	font-size: 14px;
}
body{
	height: 101vh;
	overflow-x: hidden;
	@if $compiler-hybris {
		padding-top: 45px;
		@include minw(md){
			padding-top: 115px;
			transition: padding 0.2s;
			&.scrolling{
				padding-top: 100px;
			}
		}
	}
}
i{
	display: inline-block;
}

a{
	color: #000;
	&:hover,&:focus{
		color: #000;
	}
}

.hr-line-xs{
	margin-top: 1.5rem;
    margin-bottom: 1.5rem;
	position: relative;
	border-color: transparent;
	&:before{
		content: "";
		width: 50px;
		border-top: 2px solid #000;
		position: absolute;
		bottom: 0;
	}
}

// Components global temp
